In [1]:
import pandas as pd
import datetime
import django
import os
import random
import bcrypt
django.setup()
import numpy as np
from users.models    import User
from products.models import (Product,
                              ProductImage,
                              Size,
                              Color,
                              ProductOption,
                              Category,
                              Subcategory)
from reviews.models import Review

In [2]:

os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'dr_martens.settings')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [5]:
products = pd.read_csv('put_csv/edit_product.csv')

In [6]:
datetime.datetime.strptime(products['launched_at'][0], '%Y-%m-%d')

datetime.datetime(1992, 3, 14, 0, 0)

In [9]:
products.keys()

Index(['Unnamed: 0', 'Unnamed: 0.1', 'korean_name', 'english_name',
       'description', 'thumbnail_image', 'country_of_origin', 'material',
       'launched_at'],
      dtype='object')

In [10]:
for idx in range(products.shape[0]):
    korean_name = products['korean_name'][idx]
    english_name = products['english_name'][idx]
    description = products['description'][idx]
    thumbnail_image = products['thumbnail_image'][idx]
    country_of_origin = products['country_of_origin'][idx]
    material = products['material'][idx]
    launched_at = datetime.datetime.strptime(products['launched_at'][idx],"%Y-%m-%d")
    
    product=Product.objects.create(
        korean_name = korean_name,
        english_name = english_name,
        description = description,
        thumbnail_image = thumbnail_image,
        country_of_origin = country_of_origin,
        material = material,
        launched_at = launched_at
)
#product=Product.objects.create()

/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (1988-09-21 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (1971-01-28 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2006-05-31 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2011-03-06 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2011-10-11 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2000-06-17 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2001-10-28 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2021-06-01 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2009-02-05 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2015-10-13 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2008-11-06 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2015-03-07 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2018-06-18 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2010-02-22 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2009-12-06 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2008-06-02 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2002-08-15 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2017-09-14 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2002-01-27 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2014-03-01 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2017-02-21 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2015-04-19 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2020-09-25 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2019-09-01 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1409: RuntimeWarning: DateTimeField Product.launched_at received a naive datetime (2018-07-12 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"

In [11]:
Color.objects.create(color="black")
Color.objects.create(color="brown")
Color.objects.create(color="white")

In [12]:
for size in range(220,301, 10):
    Size.objects.create(name=f"{size}")

In [14]:
url_path="https://raw.githubusercontent.com/kimjy-par/DRHEEWON_img/main/"
f=open('put_csv/image.list','r')
image_list=[]
while True:
    line = f.readline()
    if not line: break
    if(line.find(".")>1):
        name, extension = line.split(".")
        model, image_order = name.split('_')
        image_url=f"{url_path}{model}/{model}_{image_order}.jpg"
        product=Product.objects.get(english_name=model)
        ProductImage.objects.create(product=product, url=image_url)
f.close()

In [15]:
#specified_product=pd.read_csv('specified_product.csv')

In [16]:
#specified_product

In [17]:
#idx=0
#print(range(specified_product.shape[0]))
#product_option_list=[]
#for idx in range(specified_product.shape[0]):
#    english_name = specified_product['english_name'][idx]
#    price = specified_product['price'][idx]
#    color = specified_product['color'][idx]
#    for size in range(220, 301, 10):
#        product_option_list.append([english_name, price, color, random.randint(0,7),size])
#product=Product.objects.get(english_name=specified_product)

In [18]:
#product_option_list

In [19]:
#new_product_option_list = pd.DataFrame(product_option_list, columns=['english_name','price','color','stock','size'])

In [20]:
#new_product_option_list.to_csv("new_product_option_list.csv")

In [16]:
product_option_list=pd.read_csv("put_csv/new_product_option_list.csv")

In [17]:
product_option_list

     Unnamed: 0 english_name   price  color  stock  size
0             0        Lloyd  110000  white      2   220
1             1        Lloyd  110000  white      6   230
2             2        Lloyd  110000  white      0   240
3             3        Lloyd  110000  white      2   250
4             4        Lloyd  110000  white      6   260
..          ...          ...     ...    ...    ...   ...
229         229        Watts   90000  white      4   260
230         230        Watts   90000  white      5   270
231         231        Watts   90000  white      7   280
232         232        Watts   90000  white      5   290
233         233        Watts   90000  white      0   300

[234 rows x 6 columns]

In [19]:

idx=0
for i in range(product_option_list.shape[0]):
    english_name = product_option_list["english_name"][idx]
    price = float(product_option_list["price"][idx])
    color = product_option_list["color"][idx]
    stock = product_option_list["stock"][idx]
    size = product_option_list["size"][idx]
    product_object = Product.objects.get(english_name = english_name)
    color_object = Color.objects.get(color=color)
    size_object = Size.objects.get(name=size)
    subcategory_object=product_list[product_list["english_name"].str.lower()==long_product_list["english_name"][idx].lower()]["subcategories"].values
    ProductOption.objects.create(product=product_object, size=size_object, color=color_object, price=price, stock=stock, subcategory=subcategory_object)

ValueError: Cannot assign "array(['운동화'], dtype=object)": "ProductOption.subcategory" must be a "Subcategory" instance.

In [30]:
user_list = pd.read_csv("put_csv/user.csv")
for idx in range(user_list.shape[0]):
    username      = user_list['username'][idx]
    user_id       = user_list['user_id'][idx]
    password      = user_list['password'][idx]
    mobile_number = user_list['mobile_number'][idx]
    email         = user_list["email"][idx]
    point         = user_list['point'][idx]
    hashed_password = bcrypt.hashpw(
                    password.encode('utf-8'),
                    bcrypt.gensalt()
    ).decode()
    User.objects.create(
        username      = username,
        user_id       = user_id,
        password      = hashed_password,
        mobile_number = mobile_number,
        email         = email,
        point         = point
)

In [33]:
user_list

,username,user_id,password,mobile_number,email,point,birthday,gender
0,유지훈,tgang,ekrak123!,010-429-1645,yeonghwangim@gmail.com,1000,1984-08-17,1
1,강서영,hadoyun,ekrak123!,010-2428-9945,coedonghyeon@nate.com,1000,1990-08-26,2
2,이은지,yeongbag,ekrak123!,010-6927-4841,jihyebag@naver.com,1000,2009-08-20,2
3,조도현,jinu56,ekrak123!,010-4963-5697,jihugim@gmail.com,1000,1966-09-12,1
4,이하윤,imijeong,ekrak123!,010-0792-4950,ason@hanmail.net,1000,1990-12-09,2
5,김하정,qjang,ekrak123!,010-5291-1094,ogang@dreamwiz.com,1000,2003-07-10,1
6,박서영,jeongnamg,ekrak123!,010-7309-5648,yunjinho@hotmail.com,1000,1986-05-12,2
7,박경수,gimyeji,ekrak123!,010-4213-9542,seonghyeongim@naver.com,1000,1985-03-20,2
8,권미정,yeong36,ekrak123!,010-4324-4521,juweon95@naver.com,1000,1987-09-26,1
9,최진호,jongsu44,ekrak123!,010-8532-9412,junhocoe@daum.net,1000,1993-02-17,2
10,정지아,jiseongsu,ekrak123!,010-6321-7795,jinu23@gmail.com,1000,1982-02-12,2
11,신은지,ijaeho,ekrak123!,010-5698-1596,eunjeong96@live.com,1000,2000-07-06,2
12,최경희,minjigim,ekrak123!,010-5698-3254,ijihun@live.com,1000,1965-02-17,2
13,박민지,zcoe,ekrak123!,010-5498-6325,fbag@naver.com,1000,1962-04-17,2
14,이영자,seon50,ekrak123!,010-5496-4107,gwangsu87@hanmail.net,1000,1992-08-27,2
15,권영미,sang44,ekrak123!,010-0125-4897,yunseojang@hotmail.com,1000,1966-07-07,2
16,송예준,iyeeun,ekrak123!,010-7945-4561,pgim@hanmail.net,1000,1992-07-06,1
17,최영식,ggang,ekrak123!,010-5214-6321,misuggang@live.com,1000,1963-05-20,1
18,최준혁,fyu,ekrak123!,010-8956-4169,baghyeonsug@hanmail.net,1000,1972-06-18,1
19,손광수,hye83,ekrak123!,010-4178-9654,agim@live.com,1000,1983-06-19,1
20,송미정,seo97,ekrak123!,010-8413-9563,junseoha@dreamwiz.com,1000,1979-12-18,2
21,김지후,sig29,ekrak123!,010-4577-9965,gryu@gmail.com,1000,1963-08-14,1
22,이준혁,sangho09,ekrak123!,010-8541-2361,ogjacoe@naver.com,1000,1983-05-08,1
23,이영희,jjiuu,ekrak123!,010-1257-2315,vi@hotmail.com,1000,1971-11-22,2
24,이정남,jahan,ekrak123!,010-6123-5648,gimsangceol@naver.com,1000,1972-05-03,2
25,이지현,seoyun,ekrak123!,010-8941-2319,sunja75@hanmail.net,1000,1979-02-25,2
26,장예은,gimgim,ekrak123!,010-5421-5469,gwagsanghun@naver.com,1000,1968-11-21,2
27,김광수,sunji,ekrak123!,010-5423-5419,sumingim@gmail.com,1000,2009-05-08,1
28,이현숙,gimzi,ekrak123!,010-9746-5954,yujinsong@daum.net,1000,1979-12-31,2
29,김예진,sura,ekrak123!,010-9594-5623,naseongmin@hotmail.com,1000,2002-02-06,2
30,박성진,eos,ekrak123!,010-9221-1264,minsu22@daum.net,1000,1985-12-21,1
31,이예은,tron,ekrak123!,010-9471-7954,bagjia@nate.com,1000,1961-09-04,2
32,서진호,xax,ekrak123!,010-9411-9631,baghyeonu@gmail.com,1000,2001-01-17,1
33,김민석,flow,ekrak123!,010-4126-7946,ggim@dreamwiz.com,1000,1975-09-18,1

## modified at 2022-01-03 
#### please excute after database update

In [3]:
user_list = pd.read_csv("put_csv/user.csv")
for idx in range(user_list.shape[0]):
    user          = User.objects.get(user_id=user_list["user_id"][idx])
    user.birthday = user_list["birthday"][idx]
    user.gender   = user_list["gender"][idx]
    user.save()

/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1984-08-17 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1990-08-26 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (2009-08-20 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1966-09-12 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1990-12-09 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (2003-07-10 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1986-05-12 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1985-03-20 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1987-09-26 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1993-02-17 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1982-02-12 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (2000-07-06 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1965-02-17 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1962-04-17 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1992-08-27 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1966-07-07 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1992-07-06 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1963-05-20 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1972-06-18 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1983-06-19 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1979-12-18 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1963-08-14 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1983-05-08 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1971-11-22 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1972-05-03 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1979-02-25 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1968-11-21 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (2009-05-08 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1979-12-31 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (2002-02-06 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1985-12-21 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1961-09-04 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (2001-01-17 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/kimjy/anaconda3/envs/django/lib/python3.9/site-packages/django/db/models/fields/__init__.py:1416: RuntimeWarning: DateTimeField User.birthday received a naive datetime (1975-09-18 00:00:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"

In [42]:
Category.objects.create(name="남자")
Category.objects.create(name="여자")

In [43]:
Subcategory.objects.create(name="운동화", category_id=1)
Subcategory.objects.create(name="운동화", category_id=2)
Subcategory.objects.create(name="워커", category_id=1)
Subcategory.objects.create(name="워커", category_id=2)

In [12]:
product_list = pd.read_csv("put_csv/edit_product.csv")
long_product_list = pd.read_csv("put_csv/new_product_option_list.csv")

In [13]:
long_product_list.shape[0]

234

In [15]:
for idx in range(long_product_list.shape[0]):
    try:
        
        product_option = ProductOption.objects.get(product__english_name=long_product_list["english_name"][idx], size__name=long_product_list["size"][idx],subcategory_id__isnull=True)
        print("prodcessing--->",idx,"id--->",product_option.id)
        
        print("prodcessing--->",idx,"id--->",product_option.id, "subcategory",subcategory[0])
        product_option.subcategory=Subcategory.objects.get(name=subcategory[0], category=1)
        product_option.save()
        
        product_option.id=None
        product_option.subcategory=Subcategory.objects.get(name=subcategory[0], category=2)
        product_option.save()
        print("prodcessing--->",idx,"id--->",product_option.id)
    except :
        pass

In [7]:
for idx in range(long_product_list.shape[0]):
    try:
        
        product_option = ProductOption.objects.get(product__english_name=long_product_list["english_name"][idx], size__name=long_product_list["size"][idx],subcategory_id__isnull=True)
        print("prodcessing--->",idx,"id--->",product_option.id)
        subcategory=product_list[product_list["english_name"]==long_product_list["english_name"][idx]]["subcategories"].values
        print("prodcessing--->",idx,"id--->",product_option.id, "subcategory",subcategory[0])
        product_option.subcategory=Subcategory.objects.get(name=subcategory[0], category=1)
        product_option.save()
        
        product_option.id=None
        product_option.subcategory=Subcategory.objects.get(name=subcategory[0], category=2)
        product_option.save()
        print("prodcessing--->",idx,"id--->",product_option.id)
    except :
        pass

In [19]:
review_list

,Unnamed: 0,user_id,star_point,size_information,color_information,quantity_information
0,0,9,4,0,-1,-1
1,1,16,2,-1,0,0
2,2,17,3,-1,0,-1
3,3,33,2,0,-1,0
4,4,3,3,-1,0,-1
...,...,...,...,...,...,...
95,95,19,3,0,0,-1
96,96,26,4,0,0,-1
97,97,5,4,-1,-1,0
98,98,30,3,0,-1,-1
99,99,11,0,0,-1,-1

In [22]:
review_list = pd.read_csv("put_csv/review.csv")
for idx in range(review_lreview_list.shape[0]):
    user=User.objects.get(id=review_list['user_id'][idx])
    product=Product.objects.get(id=2)
    Review.objects.create(
        user                 = user, 
        product              = product,
        star_point           = float(review_list["star_point"][idx]),
        size_information     = float(review_list["size_information"][idx]),
        color_information    = float(review_list["color_information"][idx]),
        quantity_information = float(review_list["quantity_information"][idx]),
    )

In [69]:
'''
for idx in range(product_list.shape[0]):
    print(product_list["english_name"][idx])
    subcategories=input()
    product_list["subcategories"][idx]=subcategories
'''

Lloyd
운동화

/tmp/ipykernel_2101/3411117059.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_list["subcategories"][idx]=subcategories

jaden
워커
martens
워커
christopher
운동화
gavin
워커
chase
워커
randall
워커
taylor
운동화
robinson
워커
erickson
운동화
guzman
워커
patrick
워커
wilson
운동화
melissa
워커
mitchell
운동화
raymond
워커
mendoza
워커
clark
워커
norman
운동화
williams
운동화
deanna
운동화
mercer
운동화
bean
운동화
kayla
워커
kaufman
운동화
watts
운동화

In [36]:
#product=Product.objects.get(english_name='jaden')
'''
review_list=pd.DataFrame(columns=["user_id","star_point","size_information","color_information","quantity_information"])
for i in range(100):
    user_id             =np.random.randint(1, 34)
    star_point          =np.random.randint(0, 5)
    size_information    =np.random.randint(-1,1)
    color_information   =np.random.randint(-1,1)
    quantity_information=np.random.randint(-1,1)
    review_list=review_list.append({"user_id":user_id, "star_point":star_point, "size_information":size_information,
                                "color_information":color_information, "quantity_information":quantity_information},ignore_index=True)
review_list.to_csv("put_csv/review.csv")
'''

In [9]:
for idx in range(long_product_list.shape[0]):

        product_option                   = ProductOption.objects.filter(product__english_name=long_product_list["english_name"][idx], size__name=long_product_list["size"][idx],subcategory_id__isnull=True)
        subcategory                      =product_list[product_list["english_name"].str.lower()==long_product_list["english_name"][idx].lower()]["subcategories"].values
        product_option[0].subcategory_id = Subcategory.objects.get(name=subcategory[0], category_id=1).id
        product_option[0].save()
        print(product_option[0].id, product_option[0].subcategory_id, Subcategory.objects.get(name=subcategory[0], category_id=1).id)

        #product_option[1].subcategory=Subcategory.objects.get(name=subcategory[0], category_id=2)
        #product_option[1].save()

1 None 1
2 None 1
3 None 1
4 None 1
5 None 1
6 None 1
7 None 1
8 None 1
9 None 1
10 None 3
11 None 3
12 None 3
13 None 3
14 None 3
15 None 3
16 None 3
17 None 3
18 None 3
19 None 3
20 None 3
21 None 3
22 None 3
23 None 3
24 None 3
25 None 3
26 None 3
27 None 3
28 None 1
29 None 1
30 None 1
31 None 1
32 None 1
33 None 1
34 None 1
35 None 1
36 None 1
37 None 3
38 None 3
39 None 3
40 None 3
41 None 3
42 None 3
43 None 3
44 None 3
45 None 3
46 None 3
47 None 3
48 None 3
49 None 3
50 None 3
51 None 3
52 None 3
53 None 3
54 None 3
55 None 3
56 None 3
57 None 3
58 None 3
59 None 3
60 None 3
61 None 3
62 None 3
63 None 3
64 None 1
65 None 1
66 None 1
67 None 1
68 None 1
69 None 1
70 None 1
71 None 1
72 None 1
73 None 3
74 None 3
75 None 3
76 None 3
77 None 3
78 None 3
79 None 3
80 None 3
81 None 3
82 None 1
83 None 1
84 None 1
85 None 1
86 None 1
87 None 1
88 None 1
89 None 1
90 None 1
91 None 3
92 None 3
93 None 3
94 None 3
95 None 3
96 None 3
97 None 3
98 None 3
99 None 3
100 None 3
101 None 3
102 None 3
103 None 3
104 None 3
105 None 3
106 None 3
107 None 3
108 None 3
109 None 1
110 None 1
111 None 1
112 None 1
113 None 1
114 None 1
115 None 1
116 None 1
117 None 1
118 None 3
119 None 3
120 None 3
121 None 3
122 None 3
123 None 3
124 None 3
125 None 3
126 None 3
127 None 1
128 None 1
129 None 1
130 None 1
131 None 1
132 None 1
133 None 1
134 None 1
135 None 1
136 None 3
137 None 3
138 None 3
139 None 3
140 None 3
141 None 3
142 None 3
143 None 3
144 None 3
145 None 3
146 None 3
147 None 3
148 None 3
149 None 3
150 None 3
151 None 3
152 None 3
153 None 3
154 None 3
155 None 3
156 None 3
157 None 3
158 None 3
159 None 3
160 None 3
161 None 3
162 None 3
163 None 1
164 None 1
165 None 1
166 None 1
167 None 1
168 None 1
169 None 1
170 None 1
171 None 1
172 None 1
173 None 1
174 None 1
175 None 1
176 None 1
177 None 1
178 None 1
179 None 1
180 None 1
181 None 1
182 None 1
183 None 1
184 None 1
185 None 1
186 None 1
187 None 1
188 None 1
189 None 1
190 None 1
191 None 1
192 None 1
193 None 1
194 None 1
195 None 1
196 None 1
197 None 1
198 None 1
199 None 1
200 None 1
201 None 1
202 None 1
203 None 1
204 None 1
205 None 1
206 None 1
207 None 1
208 None 3
209 None 3
210 None 3
211 None 3
212 None 3
213 None 3
214 None 3
215 None 3
216 None 3
217 None 1
218 None 1
219 None 1
220 None 1
221 None 1
222 None 1
223 None 1
224 None 1
225 None 1
226 None 1
227 None 1
228 None 1
229 None 1
230 None 1
231 None 1
232 None 1
233 None 1
234 None 1

In [79]:
Subcategory.objects.get(name=subcategory[0], category_id=1).name

OperationalError: (2013, 'Lost connection to MySQL server during query')

In [22]:

product_list[product_option[0].product.english_name==long_product_list["english_name"]]

/tmp/ipykernel_2514/4172537483.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  product_list[product_option[0].product.english_name==long_product_list["english_name"]]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, korean_name, english_name, description, thumbnail_image, country_of_origin, material, launched_at, subcategories]
Index: []

In [72]:
ProductOption.objects.get(id=1).subcategory_id

## 2022/01/05 리뷰 타이틀 및 코멘트 작업

In [3]:
review_title = pd.read_csv("put_csv/review_title.csv")

In [25]:
#idx=1
for idx in range(1,review_title.shape[0]):
    review = Review.objects.get(id=idx)
    review.title  = review_title['title'][idx]
    review.comment = (review_title['title'][idx]+' ')*40
    review.save()

In [27]:
review=Review.objects.get(id=1)
review.title="정말 좋아요 만족합니다."
review.comment="싸게 잘 산 것 같아요. 그런데 발 뒤꿈치가 날라갔어요. 역시 뒤꿈치브레이커라는 명성에 알맞는 것 같아요 ㅠㅠ"
review.save()

In [29]:
users=User.objects.all()

In [42]:
for user in users:
    #print(user.username, user.profile_image_url)
    user.profile_image_url="https://raw.githubusercontent.com/kimjy-par/DRHEEWON_img/main/avatar/avatar3.jpeg"
    #print(user.id, user.profile_image_url)
    user.save()

In [33]:
dir(user)

['DoesNotExist',
 'Meta',
 'MultipleObjectsReturned',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_check_column_name_clashes',
 '_check_constraints',
 '_check_default_pk',
 '_check_field_name_clashes',
 '_check_fields',
 '_check_id_field',
 '_check_index_together',
 '_check_indexes',
 '_check_local_fields',
 '_check_long_column_names',
 '_check_m2m_through_same_relationship',
 '_check_managers',
 '_check_model',
 '_check_model_name_db_lookup_clashes',
 '_check_ordering',
 '_check_property_name_related_field_accessor_clashes',
 '_check_single_primary_key',
 '_check_swappable',
 '_check_unique_together',
 '_do_insert',
 '_do_update',
 '_get_FIELD_display',
 '_get_expr_references',
 '_get_next_or_previous_by_FIELD',
 '_get_next_or_previous_in_order',
 '_get_pk_val',
 '_get_unique_checks',
 '_meta',
 '_perform_date_checks',
 '_perform_unique_checks',
 '_prepare_related_fields_for_save',
 '_save_parents',
 '_save_table',
 '_set_pk_val',
 '_state',
 'birthday',
 'cart_set',
 'check',
 'clean',
 'clean_fields',
 'created_at',
 'date_error_message',
 'delete',
 'email',
 'from_db',
 'full_clean',
 'gender',
 'get_deferred_fields',
 'get_next_by_birthday',
 'get_next_by_created_at',
 'get_next_by_updated_at',
 'get_previous_by_birthday',
 'get_previous_by_created_at',
 'get_previous_by_updated_at',
 'id',
 'mobile_number',
 'objects',
 'order_set',
 'password',
 'pk',
 'point',
 'prepare_database_save',
 'profile_image_url',
 'refresh_from_db',
 'review_set',
 'save',
 'save_base',
 'serializable_value',
 'unique_error_message',
 'updated_at',
 'user_id',
 'username',
 'validate_unique']